/* Estilo básico para el body y el header */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Estilo para el logo */
.logo {
  margin-bottom: 20px;
}

.logo img {
  display: block;
  margin: 0 auto;
  max-width: 15%;
  height: 15%;
  
}

/* Estilo para la navegación */
nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Cambiar color al pasar el ratón por encima */
nav a:hover {
  color: #ff6600;
}
